<div class="ui segment">
  <%= form_for(@student, url: intentions_path, method: :post, html: { class: "ui form" }) do |f| %>
  <div class="ui error message">
    <%= render "layouts/flash" %>
  </div>
  <div class="ui two column doubling stackable grid container">
    <div class="column">
      <div class="field">
        <%= f.label :name, "姓名" %>
        <%= f.text_field :name, { placeholder: '请输入姓名' } %>
      </div>
      <div class="field">
        <%= f.label :phone, "手机号" %>
        <%= f.text_field :phone, { placeholder: '请输入11位手机号码' } %>
      </div>
      <div class="grouped fields">
        <label>性别</label>
        <% [['unknown', '未知'], ['female', '女'], ['male', '男']].reverse.each do |sex_item| %>
        <div class="field">
          <div class="ui radio checkbox">
            <% if sex_item.first == @student.sex || (sex_item.first == 1 && @student.sex == 'male' )%>
            <input name="student[sex]" checked="checked" type="radio" id="student_sex_<%= sex_item.first %>" value="<%= sex_item.first %>" />
            <label for="student_sex"><%= sex_item.last %></label>
            <% else %>
            <input name="student[sex]" type="radio" id="student_sex_<%= sex_item.first %>" value="<%= sex_item.first %>" />
            <label for="student_sex"><%= sex_item.last %></label>
            <% end %>
          </div>
        </div>
        <% end %>
      </div>
      <div class="field">
        <%= f.label :id_card, "身份证号" %>
        <%= f.text_field :id_card, { placeholder: '请输入身份证号' } %>
      </div>
      <div class="field">
        <%= f.label :address, "联系地址" %>
        <%= f.text_field :address, { placeholder: '联系地址' } %>
      </div>
      <div class="field">
        <%= f.label :unit, "单位" %>
        <%= f.text_field :unit, { placeholder: '单位' } %>
      </div>
      <div class="field">
        <%= f.fields_for :intention do |pf| %>
          <%= pf.label :source, "意向来源" %>
          <%= pf.text_field :source, { placeholder: '请输入意向来源' } %>
        <% end %>
      </div>
      <%= f.fields_for :student_source do |ssf| %>
      <div class="field follow_create_contact_log">
        <%= ssf.label :id, "渠道来源" %>
        <%= ssf.select :id, options_for_select(StudentSource.student_source_for_select), {}, class: "ui dropdown student-source-name" %>
      </div>
      <% end %>
    </div>
    <div class="column">
      <%= f.fields_for :contact_log do |cf| %>
      <div class="field">
        <div class="ui toggle checkbox create_contact_log">
          <%= cf.check_box :has_contact_log, checked: true %>
          <%= cf.label :has_contact_log, "创建联系记录" %>
        </div>
      </div>
      <% if current_user.has_role? :can_choose_user %>
      <div class="field follow_create_contact_log">
        <%= cf.label :user_id, "创建人" %>
        <%= cf.select :user_id, options_for_select(User.user_for_select, current_user.id), {}, class: "ui dropdown user-id" %>
      </div>
      <% end %>
      <div class="field follow_create_contact_log">
        <%= cf.label :contact_type, "联系类型" %>
        <%= cf.select :contact_type, options_for_select(ContactLog.contact_types_for_select), {}, class: "ui dropdown contact_type" %>
      </div>

      <div class="field follow_create_contact_log">
        <%= cf.label :current_status, "当前状态" %>
        <%= cf.select :current_status, options_for_select(ContactLog.current_status_for_select), {}, class: "ui dropdown current_status" %>
      </div>

      <div class="field follow_create_contact_log">
        <%= cf.label :created_at, "创建日期" %>
        <%= cf.text_field :created_at, value: Date.today.to_s(:db), class: 'datepicker' %>
      </div>

      <div class="field follow_create_contact_log">
        <div class="ui toggle checkbox need_contact">
          <%= cf.check_box :need_contact %>
          <%= cf.label :need_contact, "需要联系" %>
        </div>
      </div>

      <div class="field follow_create_contact_log">
        <%= cf.label :next_contact_at, "联系日期" %>
        <%= cf.text_field :next_contact_at, class: 'datepicker' %>
      </div>

      <div class="field follow_create_contact_log">
        <%= cf.label :contact_log, "联系记录" %>
        <%= cf.text_area :contact_log, rows: 10 %>
      </div>
      <% end %>
    </div>
  </div>
  <div class="ui one column doubling stackable grid container">
    <div class="column">
      <%= f.submit "保存意向", class: "ui primary button" %>
    </div>
  </div>
  <% end %>
</div>
