<% @intentions.each do |intention| %>
<div class="ui very raised text container segment intention-block">
  <div class="title">
    <%= link_to intention_path(intention) do %>
    <h1 class="left"><%= intention.student.name %></h1>
    <% end %>
    <span class="right"><%= t("sexs.#{intention.student.sex}") %></span>
  </div>

  <div class="relative">
    <div class="ui two column middle aligned very relaxed stackable grid">
      <div class="column">
        <div>
          电话：<%= PhoneExt.format_phone(intention.student.phone) %>
        </div>
        <div>
          联系地址：<%= intention.student.address %>
        </div>
        <div>
          当前进度：<%= t("current_status.#{intention.current_status}") %>
        </div>
      </div>
      <div class="ui vertical divider">+</div>
      <div class="center aligned column">
        <%= link_to '学员详情', student_path(intention.student), class: 'ui primary button' %>
      </div>
    </div>
  </div>
</div>
<% end %>
<% if @intentions.count <= 0 then %>
<div class="ui very raised text container segment intention-block">
  <div class="ui container">
    未找到数据
  </div>
</div>
<% end %>
