<ul style="padding: 10px;">
    <% @intentions.each do |intention| %>
    <%
      student = intention.student
      last_contact = student.contact_logs.last
    %>
    <li style="list-style:none;margin: 5px;display: inline-block;margin-bottom: 20px;">
      <div class="ui card">
        <div class="ui slide masked reveal image">
          <% if intention.next_contact_at %>
          <div class="img-comment">下次联系: <%= intention.next_contact_at.to_s(:db) %>
          </div>
          <% end %>
          <%= image_tag student.id_card_pic.url, class: 'visible content' %>
          <%= image_tag student.id_card_back_pic.url, class: 'hidden content' %>
        </div>
        <div class="content">
          <%= link_to "#{student.name}", student_path(intention.student), class: 'header' %>
          <div class="meta">
            <span class="date">当前状态：<%= intention.current_status_text %></span>
          </div>
          <div class="description three-line">
            <%= last_contact.contact_log %>
          </div>
        </div>
        <div class="extra content">
          <a>
            <i class="user icon"></i>
            上次联系人：<%= last_contact.user.nil? ? '未知' : last_contact.user.name %>
          </a>
        </div>
      </div>
    </li>
    <% end %>
</ul>

<% if @intentions.count <= 0 then %>
<div class="ui very raised text container segment">
  <div class="ui container">
    未找到数据
  </div>
</div>
<% end %>
