<ul class="intention-cards">
  <% @intentions.each do |intention| %>
  <%
    student = intention.student
    last_contact = student.contact_logs.last
  %>
  <li class="intention-card" data-user-name="<%= student.name %>">
    <div class="ui card">
      <div class="ui slide masked reveal image">
        <% if intention.next_contact_at %>
        <div class="img-comment">下次联系: <%= intention.next_contact_at.to_s(:db) %>
        </div>
        <% end %>
        <%= image_tag student.id_card_pic.url, class: 'visible content' %>
        <%= image_tag student.id_card_back_pic.url, class: 'hidden content' %>
      </div>
      <div class="content">
        <div class="header">
          <%= link_to "#{student.name}", student_path(intention.student), { class: 'header', target: '_blank' } %>
          (<%= link_to "意向信息", intention_path(intention), { class: 'meta', target: '_blank'} %>)
        </div>
        <div class="meta">
          <span class="date">当前状态：<%= intention.current_status_text %>[<%= intention.current_status_date %>]</span>
          <% unless student.coach.nil? %>
          <br>
          <span class="date">教练：<%= student.coach.name %>[ <%= PhoneExt.format_phone(student.coach.phone) %> ]</span>
          <% end %>
        </div>
        <div class="description box">
          <div style="border-bottom: solid 1px #ccc;padding: 5px;background-color: #eee;">备注</div>
          <div style="border-bottom: solid 1px #ccc;padding: 5px;">
            <% if student.remarks.nil? %>
            <span style="color: #ccc;">【暂无备注】</span>
            <% else %>
            <%= student.remarks.gsub(/\n/, '<br>').html_safe %>
            <% end %>
          </div>
          <%
          contact_logs = student.contact_logs.order(updated_at: :desc)
          contact_log = contact_logs.first if contact_logs.count > 0
          %>
          <% if contact_logs.count > 0 %>
          <div style="border-bottom: solid 1px #ccc;padding: 5px;background-color: #eee;">上次联系</div>
          <div style="padding: 5px;max-height: 150px;overflow-y: auto;">
            <% if contact_log.present? %>
            <%= contact_log.contact_log.gsub(/\n/, '<br>').html_safe %>
            <% end %>
          </div>
          <% end %>
        </div>
      </div>
      <div class="extra content">
        <a>
          <i class="user icon"></i>
          <% if last_contact.present? && last_contact.user.present? %>
          上次联系人：<%= last_contact.user.name %>
          <% else %>
          上次联系人：未知
          <% end %>
        </a>
      </div>
      <div class="extra content user-action" data-student-id="<%= student.id %>">
        <a class="ui button padded">指派任务</a>
      </div>
    </div>
  </li>
  <% end %>
</ul>

<% if @intentions.count <= 0 then %>
<div class="ui very raised text container segment">
  <div class="ui container">
    未找到数据
  </div>
</div>
<% end %>
