<% content_for :title, "意向列表 - 极速学车ERP系统" %>
<% intents = @intentions %>
<div class="intention center">
  <div class="ui segment">
    <a class="ui primary button padded all">
      全部<span class="locate-all red padded">(<%= intents.count %>)</span>
    </a>
    <a class="ui basic button padded wait_call">未联系
      <span class="locate-wait_call red padded">(<%= intents.wait_call.count %>)</span>
    </a>
    <a class="ui basic button padded contacting">联系中
      <span class="locate-contacting red padded">(<%= intents.contacting.count %>)</span>
    </a>
    <a class="ui basic button padded booking">预约试学
      <span class="locate-booking red padded">(<%= intents.booking.count %>)</span>
    </a>
    <a class="ui basic button padded wait_pay">等待付款
      <span class="locate-wait_pay red padded">(<%= intents.wait_pay.count %>)</span>
    </a>
    <a class="ui basic button padded signed_up">已报名
      <span class="locate-signed_up red padded">(<%= intents.signed_up.count %>)</span>
    </a>
    <a class="ui basic button padded should_contact">今日任务
      <span class="locate-signed_up red padded">(<%= Intention.where('(next_contact_at <= ? or next_contact_at is null) and current_status != 4', Date.today).count %>)</span>
    </a>
    <div class="ui input"><input placeholder="Search..." type="text" class="page-query" /></div>
  </div>
  <div id="content-list">
    <%= render partial: 'index_card_intention_list' %>
  </div>
  <div class="ui segment">
  </div>
</div>
<%= render partial: 'index_assign_task' %>
<!-- javascript code -->
<script type="text/javascript">
  $('.all').on('click', function() {
    getIntentionByType('all', this);
  });

  $('.wait_call').on('click', function() {
    getIntentionByType('wait_call', this);
  });

  $('.contacting').on('click', function() {
    getIntentionByType('contacting', this);
  });

  $('.booking').on('click', function() {
    getIntentionByType('booking', this);
  });

  $('.wait_pay').on('click', function() {
    getIntentionByType('wait_pay', this);
  });

  $('.signed_up').on('click', function() {
    getIntentionByType('signed_up', this);
  });

  $('.should_contact').on('click', function() {
    getIntentionByType('should_contact', this);
  });

  $(document).delegate('.page-query', 'keyup', function() {
    var queryValue = this.value;
    if (queryValue == '') {
      $('.intention-card').show();
    } else {
      $('.intention-card').each(function(i) {
        var stuName = this.getAttribute('data-user-name');
        if (stuName.indexOf(queryValue) >= 0) {
          $(this).show();
        } else {
          $(this).hide();
        }
      });
    }
  });

  $(document).delegate('.user-action > .button', 'click', function() {
    var student_id = $(this.parentNode).attr('data-student-id');
    $('.ui.search.dropdown').dropdown();
    $('#processor').val(0);
    $('#task_type').val('');
    $('.ui.modal.assign-task').modal('setting', 'closable', false).modal({
      closable: false,
      onDeny: function() {
        return true;
      },
      onApprove: function() {
        var student = student_id;
        var processor = $('#processor').val();
        var task_type = $('#task_type').val();
        if (!student && !processor && !task_type) {
          alert('请选择指派人，并填写任务类型');
          return false;
        }
        assign_task(student_id, processor, task_type);
        return false;
      }
    }).modal('show');
  });

  function assign_task(student_id, processor_id, task_type) {
    $.post('/service/assign_task', {
      'student_id': student_id,
      'processor_id': processor_id,
      'task_type': task_type
    }).success(function(data) {
      if (data && data.msg_code == 'success') {
        $('.ui.modal.assign-task').modal('hide');
      } else {
        alert('发送消息错误，请联系管理员！');
      }
    }).error(function(data) {
      alert('发送消息错误，请联系管理员！');
    });
  }

  (function() {
    window.flash = pages.common.showFlashText('loading');
    var touch = getURLParameter('touch');
    var btn = $('.' + touch)[0];
    if (!btn) {
      return;
    }
    getIntentionByType(touch, btn);
  })();

  function getIntentionByType(intentionType, btn) {
    window.flash.show('正在加载...');
    $.post('/intentions/get_intention_list', {
      'current_status': intentionType
    }).success(function(data) {
      if (data.length > 0) {
        $('#content-list').html(data);
      } else {
        $('#content-list').html('error');
      }
      window.flash.hide();
    }).error(function(data) {
      window.flash.hide();
      $('#content-list').html('error');
    });

    $('.primary').each(function() {
      $(this).removeClass('primary');
      $(this).addClass('basic');
    });
    $(btn).removeClass('basic');
    $(btn).addClass('primary');
  }

  function getURLParameter(sParam) {
    var sPageURL = window.location.search.substring(1);
    var sURLVariables = sPageURL.split('&');
    for (var i = 0; i < sURLVariables.length; i++) {
      var sParameterName = sURLVariables[i].split('=');
      if (sParameterName[0] == sParam) {
        return sParameterName[1];
      }
    }
  }
</script>
