<% content_for :title, "[#{@intention.student.name}]的学车意向 - 极速学车ERP系统" %>
<div class="intention intention-detail">
  <div class="padding-container">
    <div class="ui raised text segment">
      <div class="ui three column middle aligned very relaxed stackable grid">
        <div class="column">
          姓名：<%= @student.name %>
        </div>
        <div class="column">
          性别：<%= t("sexs.#{@student.sex}") %>
        </div>
        <div class="column">
          年龄：未实现功能
        </div>
      </div>
      <div class="ui three column middle aligned very relaxed stackable grid">
        <div class="column">
          手机：<%= PhoneExt.format_phone(@student.phone) %>
        </div>
        <div class="column">
          身份证：<%= @student.id_card %>
        </div>
        <div class="column">
          联系地址：<%= @student.address %>
        </div>
      </div>
      <div class="ui three column middle aligned very relaxed stackable grid">
        <div class="column">
          单位：<%= @student.unit %>
        </div>
        <div class="column">
          对接人：<%= @intention.user.name %>
        </div>
        <div class="column">
          下次联系：<%= render partial: 'show_next_contact_date' %>
        </div>
      </div>
      <div class="ui three column middle aligned very relaxed stackable grid">
        <div class="column">
          当前状态：<%= t("current_status.#{@intention.current_status}") %>
        </div>
        <div class="column">
          <% if @student.coach.present? %>
          教练：<%= "#{@student.coach.name} [ #{PhoneExt.format_phone(@student.coach.phone)} ]" %>
          <% else %>
          教练：<span class="t red">尚未指定教练</span>
          <% end %>
        </div>
        <div class="column">
        </div>
      </div>
    </div>
    <div class="ui raised text segment">
      <%= link_to new_student_contact_log_path(@student.id) do %>
        <div class="ui primary labeled icon button">
          新的跟踪
          <i class="add icon"></i>
        </div>
      <% end %>
      <%= link_to edit_intention_path(@intention) do %>
        <div class="ui teal labeled icon button">
          编辑意向信息
          <i class="edit icon"></i>
        </div>
      <% end %>
      <div class="ui teal labeled icon button sms-consultant">
        发送学车顾问信息
        <i class="mail icon"></i>
      </div>
    </div>
    <div>
      <table class="ui celled table" style="table-layout: fixed;">
        <colgroup>
          <col style="width: 100px;" />
          <col style="width: 100px;" />
          <col style="width: 100px;" />
          <col style="width: 100px;" />
          <col />
        </colgroup>
        <thead>
          <tr>
            <th>日期</th>
            <th>处理人</th>
            <th>类型</th>
            <th>下次联系</th>
            <th>详情</th>
          </tr>
        </thead>
        <tbody>
          <% @contact_logs.order(updated_at: :desc).each do |contact_log| %>
          <%
            updated_at_date = contact_log.updated_at
            next_contact_at = contact_log.next_contact_at
          %>
          <tr>
            <td style="text-align: center;">
              <%= updated_at_date.to_s(:db) %>
            </td>
            <td>
              <%= contact_log.user.name %>
            </td>
            <td>
              <%= I18n.t("contact_types.#{contact_log.contact_type}") %>
            </td>
            <% if next_contact_at == 0 then %>
              <td>不需要</td>
            <% else %>
              <% if next_contact_at.nil? %>
              <td>-</td>
              <% else %>
              <td><%= next_contact_at.to_date.to_s(:db) %></td>
              <% end %>
            <% end %>
            <td>
              <i class="chevron down icon" style="border: solid 1px #ccc;width: 30px;height: 20px;cursor: pointer;float: right;"></i>
              <p class="one-line" title="<%= contact_log.contact_log %>"><%= contact_log.contact_log %></p>
            </td>
          </tr>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <th colspan="5">
              <div class="ui right floated pagination menu">
                <a class="icon item">
                  <i class="left chevron icon"></i>
                </a>
                <a class="item">1</a>
                <a class="item">2</a>
                <a class="item">3</a>
                <a class="item">4</a>
                <a class="icon item">
                  <i class="right chevron icon"></i>
                </a>
              </div>
            </th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
<script type="text/javascript">
  $('.chevron.icon').on('click', function () {
    var contentJq = $(this).parent().find('p');
    var iconJq = $(this);
    if (iconJq.hasClass('down')) {
      //释放内容
      contentJq.removeClass('one-line');
      //改箭头方向
      iconJq.removeClass('down');
      iconJq.addClass('up');
      //内容替换
      contentJq.html(contentJq.html().replace(/\n/g, '<br>'));
    } else {
      //回收内容
      contentJq.addClass('one-line');
      //改箭头方向
      iconJq.removeClass('up');
      iconJq.addClass('down');
      //恢复内容
      contentJq.html(contentJq.attr('title'));
    }
  });
  $('.sms-consultant').on('click', function() {
    $.post('/service/sms_consultant', {
      'student_id': <%= @student.id %>
    }).success(function(data) {
      if (data && data.msg_code == 'success') {
        alert('发送消息成功！');
      } else {
        alert('发送消息错误，请联系管理员！');
      }
    }).error(function(data) {
      alert('发送消息错误，请联系管理员！');
    });
  });
</script>
