<% content_for :title, "#{@student_source.name} - 渠道管理 - 极速学车ERP系统" %>
<div class="student-source">
  <div class="padding-container">
    <div class="ui raised text segment">
      <div class="ui three column middle aligned very relaxed stackable grid">
        <div class="column">
          姓名：<%= @student_source.name %>
        </div>
        <div class="column">
          性别：<%= @student_source.gender_text %>
        </div>
        <div class="column">
          年龄：未实现功能
        </div>
      </div>
      <div class="ui three column middle aligned very relaxed stackable grid">
        <div class="column">
          手机：<%= PhoneExt.format_phone(@student_source.phone) %>
        </div>
        <div class="column">
          身份证：<%= @student_source.id_card %>
        </div>
        <div class="column">
          学校: <%= @student_source.school.name if @student_source.school.present? %>
        </div>
      </div>
      <div class="ui three column middle aligned very relaxed stackable grid">
        <div class="column">
          QQ：<%= @student_source.qq %>
        </div>
        <div class="column">
          支付宝：<%= @student_source.alipay %>
        </div>
        <div class="column">
          二维码: <%= @student_source.qr_code %>
        </div>
      </div>
    </div>
    <div>
      <%= link_to new_student_source_source_contact_path(@student_source) do %>
        <div class="ui primary labeled icon button">
          联系渠道
          <i class="add icon"></i>
        </div>
      <% end %>
    </div>
    <div>
      <table class="ui teal striped sortable celled table">
        <thead>
          <tr>
            <th class="two wide center aligned sorted ascending">日期</th>
            <th class="four wide">标题</th>
            <th class="two wide center aligned">业务类型</th>
            <th class="eight wide">概要</th>
          </tr>
        </thead>
        <tbody>
          <% @student_source.source_contacts.each do |sc| %>
          <tr>
            <td class="middle aligned center aligned"><%= sc.created_at.to_date.to_s(:db) %></td>
            <td class="middle aligned"><%= sc.title %></td>
            <td class="middle aligned center aligned"><%= sc.business %></td>
            <td class="top aligned text-ellipsis long content" title="<%= sc.content %>"><%= sc.content %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<script type="text/javascript">
  $('table').tablesort();
  $(".table > tbody > tr > td.content").mouseenter(function() {
    $(this).css('white-space', 'initial');
    $(this).html($(this).html().replace(/\n/g, '<br>'));
    $(this).hide();
    $(this).fadeIn();
  });
  $(".table > tbody > tr > td.content").mouseleave(function() {
    $(this).css('white-space', 'nowrap');
    $(this).html($(this).attr('title'));
    $(this).fadeIn();
  });
</script>
