<% content_for :title, "#{@student_source.name} - 渠道管理 - 极速学车ERP系统" %>
<div class="student-source">
  <div class="padding-container">
    <div class="ui raised text segment">
      <div class="ui three column middle aligned very relaxed stackable grid">
        <div class="column">
          姓名：<%= @student_source.name %>
        </div>
        <div class="column">
          性别：<%= @student_source.gender_text %>
        </div>
        <div class="column">
          年龄：未实现功能
        </div>
      </div>
      <div class="ui three column middle aligned very relaxed stackable grid">
        <div class="column">
          手机：<%= PhoneExt.format_phone(@student_source.phone) %>
        </div>
        <div class="column">
          身份证：<%= @student_source.id_card %>
        </div>
        <div class="column">
          学校: <%= @student_source.school.name %>
        </div>
      </div>
    </div>
  </div>
</div>
