<%= form_for(@student, url: student_path, method: :patch, html: { class: "ui form" }) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this coach from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :phone, '手机' %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :is_local_phone, '号码归属' %><br>
    <%= f.radio_button :is_local_phone, true %>
    <%= f.label :is_local_phone_true, '本地', { style: 'display: inline-block;width: 10%;' } %>
    <%= f.radio_button :is_local_phone, false %>
    <%= f.label :is_local_phone_false, '外地', { style: 'display: inline-block;width: 10%;' } %>
  </div>
  <div class="field">
    <%= f.label :name, '姓名' %><br>
    <%= f.text_field :name %>
  </div>
  <div class="grouped fields">
    <%= f.label :sex, '性别' %>
    <% [['unknown', '未知'], ['female', '女'], ['male', '男']].reverse.each do |sex_item| %>
    <div class="field">
      <div class="ui radio checkbox">
        <% if sex_item.first == @student.sex || (sex_item.first == 1 && @student.sex == 'male' )%>
        <input name="student[sex]" checked="checked" type="radio" id="student_sex_<%= sex_item.first %>" value="<%= sex_item.first %>" />
        <label for="student_sex"><%= sex_item.last %></label>
        <% else %>
        <input name="student[sex]" type="radio" id="student_sex_<%= sex_item.first %>" value="<%= sex_item.first %>" />
        <label for="student_sex"><%= sex_item.last %></label>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
  <div class="grouped fields">
    <%= f.label :is_local, '户籍' %>
    <% [[0, '外地'], [1, '本地']].reverse.each do |local_item| %>
    <div class="field">
      <div class="ui radio checkbox">
        <% if local_item.first == @student.is_local || (local_item.first == 1)%>
        <input name="student[is_local]" checked="checked" type="radio" id="student_is_local_<%= local_item.first %>" value="<%= local_item.first %>" />
        <label for="student_is_local"><%= local_item.last %></label>
        <% else %>
        <input name="student[is_local]" type="radio" id="student_is_local_<%= local_item.first %>" value="<%= local_item.first %>" />
        <label for="student_is_local"><%= local_item.last %></label>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :coach_id, "负责教练" %>
    <%= f.select :coach_id, options_for_select(Coach.coach_for_select, @student.coach.present? ? @student.coach.id : 0), {}, class: 'coach-id' %>
  </div>
  <% if @student.coach.present? %>
  <div class="field">
    <%= f.label :train_service_id, "享受服务" %>
    <%= f.select :train_service_id, options_for_select(TrainService.train_service_for_select(@student.coach), @student.train_service_id), {}, class: 'train-service' %>
  </div>
  <% else %>
  <div class="field">
    <%= f.label :train_service_id, "享受服务" %>
    <%= f.select :train_service_id, [], {}, class: 'train-service' %>
  </div>
  <% end %>
  <% unless @student.signed_at.nil? %>
  <div class="field">
    <%= f.label :process, "学习进度" %>
    <%= f.select :process, options_for_select(Student.process_for_select, @student.process), {}, class: '' %>
  </div>
  <% end %>
  <div class="field">
    <%= f.label :id_card, '身份证' %><br>
    <%= f.text_field :id_card %>
  </div>
  <div class="field">
    <%= f.label :qq, 'QQ' %><br>
    <%= f.text_field :qq %>
  </div>
  <div class="field">
    <%= f.label :weixin, '微信' %><br>
    <%= f.text_field :weixin %>
  </div>
  <div class="field">
    <%= f.label :swift_number, '流水号' %><br>
    <%= f.text_field :swift_number %>
  </div>
  <div class="field">
    <%= f.label :address, '联系地址' %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :unit, '单位' %><br>
    <%= f.text_field :unit %>
  </div>
  <div class="actions">
    <%= f.submit '更新学员信息' %>
  </div>
<% end %>
