<link rel="stylesheet" href="/datetimepicker/themes/classic.css" id="theme_base">
<link rel="stylesheet" href="/datetimepicker/themes/classic.date.css" id="theme_date">
<script type="text/javascript">
  window.flash = pages.common.showFlashText('loading');
  window.flash.show('正在载入...');
</script>
<style type="text/css">
  span.slow {
    padding: 2px;
    background-color: coral;
    color: white;
    border-radius: 6px;
    margin-left: 3px;
  }
  span.unlocked {
    padding: 2px;
    background-color: red;
    color: white;
    border-radius: 6px;
    margin-left: 3px;
  }
  span.trained {
    padding: 2px;
    background-color: red;
    color: white;
    border-radius: 6px;
    margin-left: 3px;
  }
  span.unlocked.done, span.trained.done {
    background-color: green;
  }
</style>
<div style="" id="data_park"></div>
<div class="ui segment student-source">
  <table class="ui fixed teal sortable celled table student-table">
    <thead>
      <tr>
        <th data-width="1" class="one wide center sorted ascending">姓名</th>
        <th data-width="1" class="one wide center aligned">性别</th>
        <th data-width="2" class="two wide center aligned">联系电话</th>
        <th data-width="1" class="one wide center aligned">进度</th>
        <th data-width="4" class="four wide center aligned">费项</th>
        <th data-width="2" class="two wide center aligned">报名日期</th>
        <th data-width="2" class="two wide center aligned">领证日期</th>
        <th data-width="1" class="one wide center aligned">教练</th>
        <th data-width="2" class="two wide center aligned">操作</th>
      </tr>
    </thead>
    <tbody>
      <% @students.each do |st| %>
      <tr class="<%= st.intention.current_status %>">
        <!-- 姓名 -->
        <% if st.id_card.present? %>
        <td class="middle aligned"><%= st.name %></td>
        <% else %>
        <td class="middle aligned" style="color: red;"><%= st.name %></td>
        <% end %>
        <!-- 性别 -->
        <td class="middle center aligned">
          <%= st.gender %><% if st.is_slow? %><span class="slow">慢</span><% end %>
        </td>
        <!-- 联系电话 -->
        <td class="middle center aligned" <%= st.is_local_phone? ? '' : 'style=color:red;' %>>
          <%= st.phone_divided.html_safe %>
        </td>
        <!-- 进度 -->
        <td class="middle center aligned"><%= Student.processes[st.process] %></td>
        <!-- 费项 -->
        <td class="middle center aligned fee-details-td">
          <div style="display: block;max-height: 120px;overflow-y: auto;" class="fee-details">
            <% st.fees.each do |fee| %>
            <%
            if fee.total_paid == fee.amount
              fee_rate = 100
            else
              fee_rate = fee.total_paid * 100 / fee.amount
            end
            %>
            <% disp_rate = (0..100).include?(fee_rate) ? fee_rate : 100 %>
            <div style="padding: 2px;">
              <div style="display: table-cell;vertical-align: middle;">
              <% if fee.shouru? %>
              <i class="add icon" style="color: green;"></i>
              <% else %>
              <i class="minus icon" style="color: red;"></i>
              <% end %>
              </div>
              <div style="width: 20%;display: table-cell;vertical-align: middle;">
                <%= fee.fee_type_name %>
              </div>
              <div style="width: 80%;display: table-cell;vertical-align: middle;">
                <div class="prog-container">
                  <div class="prog-text<%= ' warning' if !(0..100).include?(fee_rate) %>">
                    <% if fee.amount == fee.total_paid %>
                    100%
                    <% else %>
                    <%= "#{number_to_currency(fee_rate, precision: 2, unit: '')}%" %>
                    <% end %>
                  </div>
                  <div class="prog-bar<%= ' warning' if !(0..100).include?(fee_rate) %>" style="width: <%= disp_rate %>%;">
                  </div>
                </div>
              </div>
            </div>
            <% end %>
          </div>
          <div style="background-color: #ccc;display: none;cursor: pointer;" class="pointer down">
            <i class="angle down icon"></i>
          </div>
          <div style="background-color: #ccc;display: none;cursor: pointer;" class="pointer up">
            <i class="angle up icon"></i>
          </div>
        </td>
        <!-- 报名日期 -->
        <td class="middle center aligned">
          <% if st.signed_at.present? %>
          <%= "#{st.signed_at.to_date.to_s(:db)}" %>
          <% else %>
          暂无
          <% end %>
        </td>
        <td class="middle center aligned">
          <div class="ui form">
            <div class="field">
              <input type="text" class="datepicker" data-student-id="<%= st.id %>" value="<%= st.lz_at.to_s(:db) if st.lz_at.present? %>">
            </div>
          </div>
        </td>
        <!-- 教练 -->
        <td class="middle aligned">
          <% if st.coach.present? %>
          <i class="text telephone icon" data-content="<%= st.coach.phone %>"></i>
          <%= st.coach.name %>
          <% else %>
          暂无
          <% end %>
        </td>
        <!-- 操作 -->
        <td class="middle aligned">
          <%= link_to '意向', intention_path(st.intention), { class: 'small-button', target: '_blank' } %>
          <%= link_to '资料', student_path(st), { class: 'small-button', target: '_blank' } %>
          <%= link_to '编辑', edit_student_path(st), { class: 'small-button', target: '_blank' } %>
          <% if st.qq.present? %>
          <span style="color:green;" title="<%= st.qq %>">QQ</span>
          <% else %>
          <span style="color:red;">QQ</span>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<script type="text/javascript">
  $('table.student-table').tablesort();
  $('.telephone').popup();
  setTimeout(function() {
    $('td.fee-details-td').each(function() {
      var td = this;
      var fee_details = $(td).find('.fee-details')[0];
      if(fee_details && (fee_details.scrollHeight > fee_details.clientHeight || fee_details.offsetHeight > fee_details.clientHeight)) {
        $(td).find('.pointer.down').show();
      }
    });
    window.flash.hide();
  }, 100);
  $('.pointer.down').on('click', function() {
    this.previousElementSibling.style.removeProperty('max-height');
    $(this).hide();
    $(this.nextElementSibling).show();
  });
  $('.pointer.up').on('click', function() {
    this.previousElementSibling.previousElementSibling.style.maxHeight = '120px';
    $(this).hide();
    $(this.previousElementSibling).show();
  });
  //启用日期输入
  $('.datepicker').pickadate({
    onOpen: function() {
      $offset = this.$node.offset();
      $data_park = $('#data_park');
      $data_park.css('position', 'relative');
      $data_park.css('left', $offset.left - 480);
      $data_park.css('top', $offset.top - 180);
    },
    onSet: function(context) {
      var id = this.$node.data('student-id');
      $.post('/students/' + id + '/update_lz', {
        'lz_at': this.$node.val()
      }).success(function(data) {
      }).error(function(data) {
      });
    },
    selectMonths: true,
    selectYears: true,
    container: '#data_park'
  });
</script>
