<% content_for :title, "#{@student.name} - 极速学车ERP系统" %>
<div class="student">
  <%= link_to edit_student_path(@student) do %>
    <div class="ui teal labeled icon button">
      编辑资料
      <i class="edit icon"></i>
    </div>
  <% end %>
  <h4 class="ui horizontal divider header">
    <i class="tag icon"></i>
    基本资料
  </h4>
  <table class="ui striped definition table">
    <tbody>
      <tr>
        <td class="two wide column">姓名</td>
        <td><%= @student.name %></td>
      </tr>
      <tr>
        <td class="two wide column">性别</td>
        <td><%= @student.gender %></td>
      </tr>
      <tr>
        <td class="two wide column">户籍类型</td>
        <td><%= @student.is_local > 0 ? '本地' : '外地' %></td>
      </tr>
      <tr>
        <td class="two wide column">录入时间</td>
        <td><%= @student.created_at.to_s(:db) %></td>
      </tr>
      <tr>
        <td class="two wide column">流水号</td>
        <td><%= @student.swift_number %></td>
      </tr>
      <tr>
        <td class="two wide column">手机</td>
        <td><%= @student.phone %></td>
      </tr>
      <tr>
        <td class="two wide column">身份证号</td>
        <td><%= @student.id_card %></td>
      </tr>
      <tr>
        <td class="two wide column">学校/单位</td>
        <td><%= @student.unit %></td>
      </tr>
      <tr>
        <td class="two wide column">身份证</td>
        <td>
          <div class="card">
            <div class="card-preview id-card">
              <%= image_tag @student.id_card_pic.url, class: 'img' %>
            </div>
            <div class="ui button select-btn btn-id-card">身份证正</div>
          </div>
          <div class="card">
            <div class="card-preview id-card-back">
              <%= image_tag @student.id_card_back_pic.url, class: 'img' %>
            </div>
            <div class="ui button select-btn btn-id-card-back">身份证反</div>
          </div>
        </td>
      </tr>
      <tr>
        <td class="two wide column">创建人</td>
        <td>
          <div class="ui image label">
            <img src="/flash-loding.gif">
            <%= @student.user.name %>
            <i class="delete icon"></i>
          </div>
        </td>
      </tr>
      <% unless @student.is_local == 1 %>
      <tr>
        <td class="two wide column">居住证信息</td>
        <% if @student.residence_cards.count > 0 %>
        <% @residence_card = @student.residence_cards.last %>
        <td>
          <table class="ui striped definition table">
            <tbody>
              <tr>
                <td class="two wide column">身份证号</td>
                <td><%= @residence_card.id_card %></td>
              </tr>
              <tr>
                <td class="two wide column">居住证号</td>
                <td><%= @residence_card.card_id %></td>
              </tr>
              <tr>
                <td class="two wide column">现居住证地址</td>
                <td><%= @residence_card.current_address %></td>
              </tr>
              <tr>
                <td class="two wide column">办理状态</td>
                <td><%= I18n.t("residence_card.current_status.#{@residence_card.current_status}") %>
                </td>
              </tr>
              <tr>
                <td class="two wide column">操作</td>
                <td>
                  <%= render partial: 'show_rc_operation' %>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
        <% else %>
        <td>
          <%= link_to new_student_residence_card_path(@student) do %>
            <div class="ui teal labeled icon button">
              办居住证
              <i class="add icon"></i>
            </div>
          <% end %>
        </td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= render 'upload_id_card' %>
<script type="text/javascript">
  var pageOperation = {
    current_card: '',
    releaseModel: function(img_url) {
      switch(this.current_card) {
        case 'id_card':
          {
            $('.ui.modal.id-card').modal('hide');
            if (!img_url) break;
            $('#id_card_preview .img').attr('src', img_url);
            $('#id_card_preview .img').attr('onload', 'pages.common.setImgCenter(this);');
            $('.id-card .img').attr('src', img_url);
            break;
          }
        case 'id_card_back':
          {
            $('.ui.modal.id-card-back').modal('hide');
            if (!img_url) break;
            $('#id_card_back_preview .img').attr('src', img_url);
            $('#id_card_back_preview .img').attr('onload', 'pages.common.setImgCenter(this);');
            $('.id-card-back .img').attr('src', img_url);
            break;
          }
      }
      setTimeout('_resize_img()', 500);
    }
  };

  function _bind_file_select() {
    //id card
    $('#id_card_pic').on('click', function() {
      $('#student_id_card_pic').click();
    });
    pages.common.imgView('student_id_card_pic', 'id_card_preview', function(img, div) {
      pages.common.setImgCenter(img, div);
    });
    //id card back
    $('#id_card_back_pic').on('click', function() {
      $('#student_id_card_back_pic').click();
    });
    pages.common.imgView('student_id_card_back_pic', 'id_card_back_preview', function(img, div) {
      pages.common.setImgCenter(img, div);
    });
  }

  function _notify_rc() {
    var student = $('#student_student_id').val();
    $.post('/students/notify_got_number', {
      'id': student
    }).success(function(data) {
      if (data.msg_code == 'success') {
        alert('通知短信发送成功！');
      } else {
        alert(data.msg_text);
      }
    }).error(function(data) {
      alert('发送失败，请稍后重试！');
    });
  }

  function _notify_get_rc() {
    var student = $('#student_student_id').val();
    $.post('/students/notify_got_card', {
      'id': student
    }).success(function(data) {
      if (data.msg_code == 'success') {
        alert('取卡短信发送成功！');
      } else {
        alert(data.msg_text);
      }
    }).error(function(data) {
      alert('发送失败，请稍后重试！');
    });
  }

  function _bind_form_submit() {
    $('.submit-id-card').on('click', function() {
      pageOperation.current_card = 'id_card';
      return true;
    });

    $('.submit-id-card-back').on('click', function() {
      pageOperation.current_card = 'id_card_back';
      return true;
    });
  }


  function _resize_img() {
    $('.card-preview img').each(function() {
      pages.common.setImgCenter(this);
    });

    $('#id_card_back_preview img').each(function() {
      pages.common.setImgCenter(this);
    });
  }

  //绑定按钮打开model
  (function() {
    $('.btn-id-card').on('click', function() {
      pages.common.setImgCenter($('#id_card_preview img')[0]);
      $('.ui.modal.id-card').modal({
        closable: true,
        onDeny: function() {
          return true;
        },
        onApprove: function() {
          return true;
        }
      }).modal('show');
    });

    $('.btn-id-card-back').on('click', function() {
      pages.common.setImgCenter($('#id_card_back_preview img')[0]);
      $('.ui.modal.id-card-back').modal({
        closable: true,
        onDeny: function() {
          return true;
        },
        onApprove: function() {
          return true;
        }
      }).modal('show');
    });
    // 下发居住证信息事件
    $(document).delegate('.notify-rc-info', 'click', function() {
      _notify_rc();
    });

    $(document).delegate('.notify-fetch-rc', 'click', function() {
      _notify_get_rc();
    });

    _bind_file_select();
    _bind_form_submit();
  })();
  window.onload = function() {
    _resize_img();
  }
</script>
