<% content_for :title, "#{@student.name} - 极速学车ERP系统" %>
<link rel="stylesheet" href="/datetimepicker/themes/classic.css" id="theme_base">
<link rel="stylesheet" href="/datetimepicker/themes/classic.date.css" id="theme_date">
<div class="student">
  <%= link_to edit_student_path(@student) do %>
    <div class="ui teal labeled icon button">
      编辑学员
      <i class="edit icon"></i>
    </div>
  <% end %>
  <div class="ui segment form">
    <div class="ui grid">
      <div class="ui row">
        <div class="sixteen wide column field">
          <% if @student.remarks.nil? %>
          <span style="color: #ccc;">【暂无备注】</span>
          <% else %>
          <%= @student.remarks.gsub(/\n/, '<br>').html_safe %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="ui segment form">
    <div class="ui grid grid-fee" data-student-id = "<%= @student.id %>">
      <div class="ui row">
        <div class="four wide column field">
          <%= link_to new_student_fee_path(@student), remote: true, class: 'btn-link' do %>
          <div class="ui teal button" style="margin-right: 0;">新建费用</div>
          <% end %>
        </div>
        <div class="four wide column field">
          <%= link_to new_exams_student_fees_path(@student), remote: true do %>
          <div class="ui teal button">新建考试费用</div>
          <% end %>
        </div>
      </div>
      <div class="ui row">
        <div class="sixteen wide column field" id="fee_list">
        <%= render 'fee_list' %>
        </div>
      </div>
    </div>
  </div>
  <h4 class="ui horizontal divider header">
    <i class="tag icon"></i>
    基本资料
  </h4>
  <table class="ui striped definition table">
    <tbody>
      <tr>
        <td class="two wide column">姓名</td>
        <td><%= @student.name %></td>
      </tr>
      <tr>
        <td class="two wide column">性别</td>
        <td><%= @student.gender %></td>
      </tr>
      <tr>
        <td class="two wide column">学习速度</td>
        <td>
          <% if @student.is_slow? %>
          慢，注意督促
          <% else %>
          正常
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="two wide column">常用信息</td>
        <td>
          <% if @student.id_card.present? %>
          <table class="ui striped definition table">
            <tbody>
            <tr>
              <td style="width: 150px;">一维单名称</td>
              <td>
                <input type="text" style="width:100%;" value='<%= "#{@student.id_card}-#{@student.name}-一维单" %>'>
              </td>
            </tr>
            <tr>
              <td style="width: 150px;">身份证正面</td>
              <td>
                <input type="text" style="width:100%;" value='<%= "#{@student.id_card}-#{@student.name}-身份证-正面" %>' />
              </td>
            </tr>
            <tr>
              <td style="width: 150px;">身份证反面</td>
              <td>
                <input type="text" style="width:100%;" value='<%= "#{@student.id_card}-#{@student.name}-身份证-反面" %>' />
              </td>
            </tr>
            <tr>
              <td style="width: 150px;">流水单（待办单）</td>
              <td>
                <input type="text" style="width:100%;" value='<%= "#{@student.id_card}-#{@student.name}-待办单" %>' />
              </td>
            </tr>
            <tr>
              <td style="width: 150px;">手机号</td>
              <td>
                <input type="text" style="width:100%;" value='<%= "#{@student.phone}" %>' />
              </td>
            </tr>
            </tbody>
          </table>
          <% else %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="two wide column">户籍类型</td>
        <td><%= @student.is_local > 0 ? '本地' : '外地' %></td>
      </tr>
      <% if @student.qq.present? %>
      <tr>
        <td class="two wide column">QQ</td>
        <td><%= @student.qq %></td>
      </tr>
      <% end %>
      <tr>
        <td class="two wide column">录入时间</td>
        <td><%= @student.created_at.localtime.to_s(:db) %></td>
      </tr>
      <tr>
        <td class="two wide column">更新时间</td>
        <td><%= @student.updated_at.localtime.to_s(:db) %></td>
      </tr>
      <tr>
        <td class="two wide column">流水号</td>
        <td><%= @student.swift_number %></td>
      </tr>
      <tr>
        <td class="two wide column">当前进度</td>
        <td><%= @student.process_text %></td>
      </tr>
      <tr>
        <td class="two wide column">手机</td>
        <td>
          <span><%= @student.phone_divided.html_safe %></span>
          <% if @student.is_local_phone? %>
          <span>[本地]</span>
          <% else %>
          <span>[外地]</span>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="two wide column">身份证号</td>
        <td><%= @student.id_card %></td>
      </tr>
      <tr>
        <td class="two wide column">学校/单位</td>
        <td><%= @student.unit %></td>
      </tr>
      <% if @student.coach.present? %>
      <tr>
        <td class="two wide column">教练</td>
        <td><%= link_to "#{@student.coach.name}", coach_path(@student.coach), { target: '_blank' } %></td>
      </tr>
      <% end %>
      <tr>
        <td class="two wide column">身份证</td>
        <td>
          <div class="card">
            <div class="card-preview id-card">
              <%= image_tag @student.id_card_pic.url, class: 'img' %>
            </div>
            <div class="ui button select-btn btn-id-card">身份证正</div>
          </div>
          <div class="card">
            <div class="card-preview id-card-back">
              <%= image_tag @student.id_card_back_pic.url, class: 'img' %>
            </div>
            <div class="ui button select-btn btn-id-card-back">身份证反</div>
          </div>
        </td>
      </tr>
      <tr>
        <td class="two wide column">创建人</td>
        <td>
          <div class="ui image label">
            <img src="/flash-loding.gif">
            <%= @student.user.name if @student.user.present? %>
            <%= "待认领" if @student.user.nil? %>
            <i class="delete icon"></i>
          </div>
        </td>
      </tr>
      <% unless @student.is_local == 1 %>
      <tr>
        <td class="two wide column">居住证信息</td>
        <% if @student.residence_cards.count > 0 %>
        <% @residence_card = @student.residence_cards.last %>
        <td>
          <table class="ui striped definition table">
            <tbody>
              <tr>
                <td class="two wide column">身份证号</td>
                <td><%= @residence_card.id_card %></td>
              </tr>
              <tr>
                <td class="two wide column">居住证号</td>
                <td><%= @residence_card.card_id %></td>
              </tr>
              <tr>
                <td class="two wide column">现居住证地址</td>
                <td><%= @residence_card.current_address %></td>
              </tr>
              <tr>
                <td class="two wide column">办理状态</td>
                <td><%= I18n.t("residence_card.current_status.#{@residence_card.current_status}") %>
                </td>
              </tr>
              <tr>
                <td class="two wide column">操作</td>
                <td>
                  <%= render partial: 'show_rc_operation' %>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
        <% else %>
        <td>
          <%= link_to new_student_residence_card_path(@student) do %>
            <div class="ui teal labeled icon button">
              办居住证
              <i class="add icon"></i>
            </div>
          <% end %>
        </td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="ui modal fee-new">
  <i class="close icon"></i>
  <div class="header">
    新增费用
  </div>
  <div class="content" id="fee">
  </div>
  <div class="actions">
    <div class="ui black deny button">
      取消
    </div>
    <div class="ui positive right labeled icon button">
      保存
      <i class="checkmark icon save-fee"></i>
    </div>
  </div>
</div>
<div class="ui modal fee-payment">
  <i class="close icon"></i>
  <div class="header">
    新增付款
  </div>
  <div class="content" id="fee_payment">
  </div>
  <div class="actions">
    <div class="ui black deny button">
      取消
    </div>
    <div class="ui positive right labeled icon button">
      保存
      <i class="checkmark icon save-fee-payment"></i>
    </div>
  </div>
</div>
<div class="ui modal fee-payment-edit">
  <i class="close icon"></i>
  <div class="header">
    编辑付款
  </div>
  <div class="content" id="fee_payment_edit">
  </div>
  <div class="actions">
    <div class="ui black deny button">
      取消
    </div>
    <div class="ui positive right labeled icon button">
      保存
      <i class="checkmark icon update-fee-payment"></i>
    </div>
  </div>
</div>
<%= render 'upload_id_card' %>
<script type="text/javascript">
  (function() {
    window.flash = pages.common.showFlashText('loading');
    window.flash.hide();
    $("[data-remote='true']").bind('ajax:before', function() {
      if ($(this).attr('disabled') == 'disabled') {
        return false;
      }
      $(this).attr('disabled', 'disabled');
      window.flash.show('正在加载...');
    }).bind('ajax:success', function() {
      window.flash.hide();
      $(this).removeAttr("disabled");
    }).bind('ajax:after', function() {
      window.flash.hide();
      $(this).removeAttr("disabled");
    });
  })();

  var pageOperation = {
    current_card: '',
    releaseModel: function(img_url) {
      switch(this.current_card) {
        case 'id_card':
          {
            $('.ui.modal.id-card').modal('hide');
            if (!img_url) break;
            $('#id_card_preview .img').attr('src', img_url);
            $('#id_card_preview .img').attr('onload', 'pages.common.setImgCenter(this);');
            $('.id-card .img').attr('src', img_url);
            break;
          }
        case 'id_card_back':
          {
            $('.ui.modal.id-card-back').modal('hide');
            if (!img_url) break;
            $('#id_card_back_preview .img').attr('src', img_url);
            $('#id_card_back_preview .img').attr('onload', 'pages.common.setImgCenter(this);');
            $('.id-card-back .img').attr('src', img_url);
            break;
          }
      }
      setTimeout('_resize_img()', 500);
    }
  };
</script>
<script type="text/javascript">
  function _bind_file_select() {
    //id card
    $('#id_card_pic').on('click', function() {
      $('#student_id_card_pic').click();
    });
    pages.common.imgView('student_id_card_pic', 'id_card_preview', function(img, div) {
      pages.common.setImgCenter(img, div);
    });
    //id card back
    $('#id_card_back_pic').on('click', function() {
      $('#student_id_card_back_pic').click();
    });
    pages.common.imgView('student_id_card_back_pic', 'id_card_back_preview', function(img, div) {
      pages.common.setImgCenter(img, div);
    });
  }

  function _notify_rc() {
    var student = $('#student_student_id').val();
    $.post('/students/notify_got_number', {
      'id': student
    }).success(function(data) {
      if (data.msg_code == 'success') {
        alert('通知短信发送成功！');
      } else {
        alert(data.msg_text);
      }
    }).error(function(data) {
      alert('发送失败，请稍后重试！');
    });
  }

  function _notify_get_rc() {
    var student = $('#student_student_id').val();
    $.post('/students/notify_got_card', {
      'id': student
    }).success(function(data) {
      if (data.msg_code == 'success') {
        alert('取卡短信发送成功！');
      } else {
        alert(data.msg_text);
      }
    }).error(function(data) {
      alert('发送失败，请稍后重试！');
    });
  }

  function _bind_form_submit() {
    $('.submit-id-card').on('click', function() {
      pageOperation.current_card = 'id_card';
      return true;
    });

    $('.submit-id-card-back').on('click', function() {
      pageOperation.current_card = 'id_card_back';
      return true;
    });
  }

  function _resize_img() {
    $('.card-preview img').each(function() {
      pages.common.setImgCenter(this);
    });

    $('#id_card_back_preview img').each(function() {
      pages.common.setImgCenter(this);
    });
  }

  function collectData() {
    var id = '';
  }
</script>
<script type="text/javascript">
  //绑定按钮打开model
  (function() {
    $('.ui.dropdown').dropdown();

    //启用日期输入
    $('.datepicker').pickadate();

    $('.btn-id-card').on('click', function() {
      pages.common.setImgCenter($('#id_card_preview img')[0]);
      $('.ui.modal.id-card').modal({
        closable: true,
        onDeny: function() {
          return true;
        },
        onApprove: function() {
          return true;
        }
      }).modal('show');
    });

    $('.btn-id-card-back').on('click', function() {
      pages.common.setImgCenter($('#id_card_back_preview img')[0]);
      $('.ui.modal.id-card-back').modal({
        closable: true,
        onDeny: function() {
          return true;
        },
        onApprove: function() {
          return true;
        }
      }).modal('show');
    });
    // 下发居住证信息事件
    $(document).delegate('.notify-rc-info', 'click', function() {
      _notify_rc();
    });

    $(document).delegate('.notify-fetch-rc', 'click', function() {
      _notify_get_rc();
    });

    _bind_file_select();
    _bind_form_submit();
  })();

  window.onload = function() {
    _resize_img();
  }
</script>
