<% content_for :title, "新的跟踪" %>
<link rel="stylesheet" href="/datetimepicker/themes/classic.css" id="theme_base">
<link rel="stylesheet" href="/datetimepicker/themes/classic.date.css" id="theme_date">
<div class="ui segment">
  <%= form_for(@contact_log, url: contact_logs_path, method: :post, html: { class: "ui form" }) do |f| %>

  <div class="field">
    <%= f.label :student, "学员" %>
    <%= f.select :student, options_from_collection_for_select(Student.all, :id, :name, @contact_log.student.nil? ? 0 : @contact_log.student.id ), {}, class: "ui search selection dropdown" %>
  </div>

  <div class="field">
    <%= f.label :contact_type, "联系类型" %>
    <%= f.select :contact_type, options_for_select(ContactLog.contact_types_for_select, @contact_log.contact_type), {}, class: "ui dropdown" %>
  </div>

  <div class="field">
    <%= f.label :current_status, "当前状态" %>
    <%= f.select :current_status, options_for_select(ContactLog.current_status_for_select, @contact_log.current_status), {}, class: "ui dropdown" %>
  </div>

  <div class="field">
    <div class="ui toggle checkbox">
      <%= f.check_box :need_contact %>
      <%= f.label :need_contact, "需要联系" %>
    </div>
  </div>

  <div class="field">
    <%= f.label :next_contact_at, "联系日期" %>
    <%= f.text_field :next_contact_at, class: 'datepicker' %>
  </div>

  <div class="field">
    <%= f.label :contact_log, "联系记录" %>
    <%= f.text_area :contact_log, rows: 10, value: @contact_log.contact_log %>
  </div>

  <div class="div-btn">
    <%= f.submit "保存联系记录", class: "ui primary button" %>
  </div>
  <% end %>

</div>
<script type="text/javascript">
  $('.dropdown').dropdown();
  $('.ui.checkbox').checkbox();
  $('.datepicker').pickadate();
</script>
<script type="text/javascript">
  $('.ui.form').form({
    fields: {
      student: {
        identifier: 'contact_log_student',
        rules: [{
          type: 'empty',
          prompt: '请选择学员'
        }]
      },
      contact_type: {
        identifier: 'contact_log_contact_type',
        rules: [{
          type: 'empty',
          prompt: '请选择联系类型'
        }]
      },
      current_status: {
        identifier: 'contact_log_current_status',
        optional: true,
        rules: [{
          type: 'empty',
          prompt: '请选择当前的状态'
        }]
      },
      need_contact: {
        identifier: 'contact_log_need_contact',
        rules: [{
          type: 'empty',
          prompt: '请确定是否需要再出联系'
        }]
      },
      next_contact_at: {
        identifier: 'contact_log_next_contact_at',
        optional: true,
        rules: [{
          type: 'regExp[/^\\d{4}-(0[1-9]|1[0-2])-\\d{1,2}$/]',
          prompt: '请输入正确的日期'
        }]
      },
      unit: {
        identifier: 'student_unit',
        rules: [{
          type: 'maxLength[255]',
          prompt: '超出限定长度，只允许输入255个字符！'
        }]
      }
    }
  });
</script>
