<% @other_tasks.each do |task| %>
<ul class="ui-list ui-list-function ui-list-link ui-border-tb">
  <li class="ui-border-t" href="">
    <div class="ui-list-thumb">
      <span style="background-image:url(/email.png)"></span>
    </div>
    <%= link_to work_task_path(task) do %>
    <div class="ui-list-info">
      <h4 class="ui-nowrap"><%= task.title %></h4>
      <p class="ui-nowrap"><%= task.html.html_safe %></p>
    </div>
    <% end %>
    <div class="tags">
      <label class="ui-label"><%= task.status_text %></label>
      <label class="ui-label"><%= task.is_read? ? '已读' : '未读' %></label>
    </div>
  </li>
</ul>
<% end %>
