<% content_for :title, "#{@student.name}" %>
<style type="text/css">
</style>
<header class="ui-header ui-header-positive ui-border-b">
  <h1><%= yield(:title) %></h1>
  <%= link_to m_root_path do %>
    <button class="ui-btn">回首页</button>
  <% end %>
</header>
<div class="ui-container">
  <div class="ui-tab">
    <ul class="ui-tab-nav ui-border-b">
      <li class="current">基本资料</li>
      <li>联系记录</li>
      <li>其它</li>
    </ul>
    <ul class="ui-tab-content" style="width:300%">
      <li>
        <%= render 'profile' %>
      </li>
      <li>
        <%= render 'contact_logs' %>
      </li>
      <li>
        <%= render 'others' %>
      </li>
    </ul>
  </div>
</div>
<script>
(function (){
  var tab = new fz.Scroll('.ui-tab', {
    role: 'tab',
    autoplay: false,
    interval: 6000
  });
  /* 滑动开始前 */
  tab.on('beforeScrollStart', function(fromIndex, toIndex) { })
})();
</script>
