<% content_for :title, "极速学车ERP系统" %>
<% if flash[:alert].present? %>
  <div class="ui error message" style="display:block;">
    <%= flash[:alert] %>
  </div>
<% end %>
<div class="welcome">
  <div class="ui grid">
    <div class="ui row">
      <div class="eight wide column" style="padding-top: 0;">
        <div class="ui raised text segment" style="margin-top: 10px;">
          <h2 class="ui header">新的意向</h2>
          <p>当我们得到了意向学员的联系方式后，我们就需要来这里录入我们的意向，避免浪费。</p>
          <%= link_to new_intention_path do %>
            <div class="ui primary labeled icon button">
              添加意向
              <i class="add icon"></i>
            </div>
          <% end %>
          <%= link_to '意向墙', intentions_path, class: 'ui primary button' %>
        </div>
      </div>
      <div class="four wide column" style="padding-top: 0;">
        <div class="ui raised text segment" style="margin-top: 10px;">
          <div class="ui header thin">居住证待办</div>
          <div class="ui divider thin"></div>
          <div class="ui list">
            <% ResidenceCard.id_card_received.each do |residence_card| %>
            <div class="item">
              <i class="alarm icon"></i>
              <div class="content">
                <%= link_to "#{residence_card.name}", student_path(residence_card.student), { target: '_blank' } %>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="four wide column" style="padding-top: 0;">
        <div class="ui raised text segment" style="margin-top: 10px;">
          <div class="ui header thin">预估出号居住证(<a href="http://www.whga.gov.cn/pawh/query/jzzQuery.jsp" target="_blank" style="font-size: 10px;">居住证号查询</a>)</div>
          <div class="ui divider thin"></div>
          <div class="ui list">
            <% ResidenceCard.applyed.where('applyed_at < ?', Time.now.ago(3.days)).each do |residence_card| %>
            <div class="item">
              <i class="mail icon"></i>
              <div class="content">
                <%= link_to "#{residence_card.name}", student_path(residence_card.student), { target: '_blank' } %>: <span title="身份证号"><%= residence_card.id_card %></span>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="ui row">
      <div class="four wide column">
        <div class="ui raised text segment">
          <div class="ui header thin">待下发证号居住证</div>
          <div class="ui divider thin"></div>
          <div class="ui list">
            <% ResidenceCard.have_number.where(last_notify_at: nil).each do |residence_card| %>
            <div class="item">
              <i class="mail icon"></i>
              <div class="content">
                <%= link_to "#{residence_card.name}", student_path(residence_card.student), { target: '_blank' } %>: <span title="身份证号"><%= residence_card.student.id_card %></span>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="four wide column">
        <div class="ui raised text segment">
          <div class="ui header thin">居住证领取</div>
          <div class="ui divider thin"></div>
          <div class="ui list">
            <% ResidenceCard.have_card.each do |residence_card| %>
            <div class="item">
              <i class="mail icon"></i>
              <div class="content">
                <%= link_to "#{residence_card.name}", student_path(residence_card.student), { target: '_blank', style: 'width: 60px;display: inline-block;' } %>（<%= PhoneExt.format_phone(residence_card.student.phone) %>）
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="four wide column">
        <div class="ui raised text segment">
          <div class="ui header thin">签到详情</div>
          <div class="ui divider thin"></div>
          <div class="ui list">
            <% User.all.each do |user| %>
            <div class="item">
              <i class="mail icon"></i>
              <div class="content">
                <span style="width: 100px;display: inline-block;"><%= user.name %></span>
                <% if user.daily_signs.where("daily_signs.created_at >= ?", Time.zone.now.beginning_of_day.ago(8.hours)).count > 0 %>
                <span style="padding: 0.3em 0.5em;color: blue;">已签到</span>
                <% else %>
                <span style="padding: 0.3em 0.5em;color: red;">未签到</span>
                <% end %>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
