<script src="/javascripts/echarts.min.js"></script>
<% content_for :title, "极速学车ERP系统" %>
<% if flash[:alert].present? %>
  <div class="ui error message" style="display:block;">
    <%= flash[:alert] %>
  </div>
<% end %>
<div class="welcome">
  <div class="ui grid">
    <div class="ui row">
      <div class="six wide column" style="padding-top: 0;">
        <div class="ui raised text segment" style="margin-top: 10px;">
          <h2 class="ui header">新的意向</h2>
          <p>当我们得到了意向学员的联系方式后，我们就需要来这里录入我们的意向，避免浪费。</p>
          <%= link_to new_intention_path do %>
            <div class="ui primary labeled icon button">
              添加意向
              <i class="add icon"></i>
            </div>
          <% end %>
          <%= link_to '意向墙', intentions_path, class: 'ui primary button' %>
        </div>
      </div>
      <div class="ten wide column" style="padding-top: 0;">
        <div class="ui raised text segment" style="margin-top: 10px;margin-top: 10px;height: 300px;overflow-y: scroll;">
          <div class="ui header thin">待支付费用</div>
          <div class="ui divider thin"></div>
          <% if current_user.has_role?(:superadmin) || current_user.has_role?(:user) %>
          <%= render 'fee_list' %>
          <% else %>
          无权限
          <% end %>
        </div>
      </div>
    </div>
    <div class="ui row">
      <div class="four wide column">
        <div class="ui raised text segment">
          <div class="ui header thin">进度慢的学员</div>
          <div class="ui divider thin"></div>
          <div class="ui list">
            <% Student.where(is_slow: true).each do |stu| %>
            <div class="item">
              <i class="mail icon"></i>
              <div class="content">
                <%= link_to "#{stu.name}", student_path(stu), { target: '_blank', style: 'width: 60px;display: inline-block;' } %>（<%= PhoneExt.format_phone(stu.phone) %>）
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="four wide column">
        <div class="ui raised text segment">
          <div class="ui header thin">居住证领取</div>
          <div class="ui divider thin"></div>
          <div class="ui list">
            <% ResidenceCard.have_card.each do |residence_card| %>
            <div class="item">
              <i class="mail icon"></i>
              <div class="content">
                <%= link_to "#{residence_card.name}", student_path(residence_card.student), { target: '_blank', style: 'width: 60px;display: inline-block;' } %>（<%= PhoneExt.format_phone(residence_card.student.phone) %>）
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="four wide column">
        <div class="ui raised text segment">
          <div class="ui header thin">签到详情</div>
          <div class="ui divider thin"></div>
          <div class="ui list">
            <% User.normal.each do |user| %>
            <div class="item">
              <i class="mail icon"></i>
              <div class="content">
                <span style="width: 100px;display: inline-block;"><%= user.name %></span>
                <% if user.daily_signs.where("daily_signs.created_at >= ?", Time.zone.now.beginning_of_day).count > 0 %>
                <span style="padding: 0.3em 0.5em;color: blue;">已签到</span>
                <% else %>
                <span style="padding: 0.3em 0.5em;color: red;">未签到</span>
                <% end %>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="four wide column">
        <div class="ui raised text segment">
          <div class="ui header thin">消息墙</div>
          <div class="ui divider thin"></div>
          <div class="ui list">
            <% @messages.each do |message| %>
            <div class="item">
              <i class="mail icon"></i>
              <div class="content">
                <%= message.html_safe %>
              </div>
            </div>
            <% end if @messages.present? %>
          </div>
        </div>
      </div>
    </div>
    <div class="ui row">
      <div class="four wide column">
        <div class="ui raised text segment">
          <div class="ui header thin">已报名无教练或服务</div>
          <div class="ui divider thin"></div>
          <div class="ui list">
            <% Student.where("signed_at is not null and (coach_id is null or train_service_id is null)").each do |student| %>
            <div class="item">
              <i class="mail icon"></i>
              <div class="content">
                <%= link_to "#{student.name}", student_path(student), { target: '_blank', style: 'width: 60px;display: inline-block;' } %>（<%= PhoneExt.format_phone(student.phone) %>）
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="twelve wide column">
        <div class="ui raised text segment">
          <div class="ui header thin">需预约学员信息</div>
          <div class="ui divider thin"></div>
          <div class="ui list">
            <% Student.where(km1_status: Student.km1_statuses['need_order']).each do |student| %>
            <div class="item">
              <i class="mail icon"></i>
              <div class="content">
                <%= "#{student.name} #{student.id_card}" %>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <% if current_user.has_role?(:superadmin) || current_user.has_role?(:user) %>
    <div class="ui row">
      <div class="sixteen wide column">
        <div id="chartStudentDist" style="width: 100%;height: 500px;"></div>
      </div>
      <div class="eight wide column">
      </div>
    </div>
    <div class="ui row">
      <div class="eight wide column">
        <div id="chartSigned" style="width: 100%;height: 300px;"></div>
      </div>
      <div class="eight wide column">
        <div id="chartStudentContact" style="width: 100%;height: 300px;"></div>
      </div>
    </div>
    <% end %>
  </div>
</div>
<% if current_user.has_role?(:superadmin) || current_user.has_role?(:user) %>
<script type="text/javascript">
  (function() {
    var signedUpChart = echarts.init($('#chartSigned')[0]);
    var studentContactLogChart = echarts.init($('#chartStudentContact')[0])
    var studentDistChart = echarts.init($('#chartStudentDist')[0]);

    var signedUpOption = {
      title: {
        text: '报名趋势图'
      },
      tooltip: {
        trigger: 'axis'
      },
      legend: {
        data: ['当日报名', '累计报名', '联系学员']
      },
      grid: {
        left: '3%',
        right: '4%',
        bottom: '3%',
        containLabel: true
      },
      toolbox: {
        feature: {
          saveAsImage: {}
        }
      },
      xAxis: [{
        type: 'category',
        boundaryGap: false,
        data: <%= @dates.to_json.html_safe %>
      }],
      yAxis: [{
        type: 'value'
      }],
      dataZoom: {
        type: 'inside'
      },
      series: [{
        name: '当日报名',
        type: 'line',
        smooth: true,
        data: <%= @signed_up_datas.to_json.html_safe %>
      },{
        name: '累计报名',
        type: 'line',
        smooth: true,
        data: <%= @signed_up_data_sum.to_json.html_safe %>
      },{
        name: '联系学员',
        type: 'line',
        smooth: true,
        data: <%= @student_contact_logs.to_json.html_safe %>
      }]
    };
    var studentContactLogOption = {
      title: {
        text: '学员联系趋势图'
      },
      tooltip: {
        trigger: 'axis'
      },
      legend: {
        data: ['当日联系']
      },
      grid: {
        left: '3%',
        right: '4%',
        bottom: '3%',
        containLabel: true
      },
      toolbox: {
        feature: {
          saveAsImage: {}
        }
      },
      xAxis: [{
        type: 'category',
        boundaryGap: false,
        data: <%= @dates.to_json.html_safe %>
      }],
      yAxis: [{
        type: 'value'
      }],
      dataZoom: {
        type: 'inside'
      },
      series: [{
        name: '当日联系',
        type: 'line',
        smooth: true,
        data: <%= @student_contact_logs.to_json.html_safe %>
      }]
    };
    var studentDistChartOption = {
      title : {
        text: '极速学车学员分布表',
        subtext: '<%= Date.today.to_s(:db) %>',
        x:'center'
      },
      tooltip : {
        trigger: 'item',
        formatter: "{a} <br/>{b} : {c} ({d}%)"
      },
      legend: {
        orient: 'vertical',
        left: 'left',
        data: ['等待','科一','科二','科三','科四','已拿证']
      },
      series : [
      {
        name: '访问来源',
        type: 'pie',
        radius : '55%',
        center: ['50%', '60%'],
        data:[
        {value:<%= @stu_wait.count %>, name:'等待'},
        {value:<%= @stu_km1.count %>, name:'科一'},
        {value:<%= @stu_km2.count %>, name:'科二'},
        {value:<%= @stu_km3.count %>, name:'科三'},
        {value:<%= @stu_km4.count %>, name:'科四'},
        {value:<%= @stu_lz.count %>, name:'已拿证'}
        ],
        itemStyle: {
          emphasis: {
            shadowBlur: 10,
            shadowOffsetX: 0,
            shadowColor: 'rgba(0, 0, 0, 0.5)'
          }
        }
      }
      ]
    };

    signedUpChart.setOption(signedUpOption);
    studentContactLogChart.setOption(studentContactLogOption);
    studentDistChart.setOption(studentDistChartOption);
  })();
</script>
<% end %>
