<%= form_for(@coach, html: { class: 'ui form' }) do |f| %>
  <% if @coach.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@coach.errors.count, "error") %> 更新未保存，请检查以下问题:</h2>

      <ul>
      <% @coach.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="ui one column doubling stackable grid container">
    <div class="column">
      <div class="field">
        <%= f.label :name, '姓名' %>
        <%= f.text_field :name %>
      </div>

      <div class="field">
        <%= f.label :gender, "性别" %>
        <%= f.select :gender, options_for_select(Coach.gender_for_select, @coach.gender), {}, class: "ui dropdown gender" %>
      </div>

      <div class="field">
        <%= f.label :phone, '手机' %>
        <%= f.text_field :phone %>
      </div>

      <div class="field">
        <%= f.label :id_card, '身份证' %>
        <%= f.text_field :id_card %>
      </div>

      <div class="field">
        <%= f.label :signed_at, '签约日期' %>
        <%= f.text_field :signed_at, class: 'datepicker' %>
      </div>

      <div class="field">
        <%= f.label :contract_begin_at, '合同起始日期' %>
        <%= f.text_field :contract_begin_at, class: 'datepicker' %>
      </div>

      <div class="field">
        <%= f.label :contract_end_at, '合同终止日期' %>
        <%= f.text_field :contract_end_at, class: 'datepicker' %>
      </div>

      <div class="field">
        <%= f.label :is_locked, "是否锁定" %>
        <%= f.check_box :is_locked %>
      </div>

      <div class="field">
        <%= f.label :birthday, '生日' %>
        <%= f.text_field :birthday, class: 'datepicker' %>
      </div>

      <div class="field">
        <%= f.label :wechat, '微信' %>
        <%= f.text_field :wechat %>
      </div>

      <div class="field">
        <%= f.label :qq, 'QQ' %>
        <%= f.text_field :qq %>
      </div>

      <div class="field">
        <%= f.label :driving_license, '驾驶证' %>
        <%= f.text_field :driving_license %>
      </div>

      <div class="field">
        <%= f.label :coaching_license, '教练证' %>
        <%= f.text_field :coaching_license %>
      </div>

      <%= f.fields_for :train_fields do |tf| %>
      <div class="field">
        <%= tf.label :id, "训练场" %>
        <%= tf.select :id, options_for_select(TrainField.train_fields_for_select), {}, class: "ui fluid search dropdown train-fields", multiple: '' %>
      </div>
      <% end %>
      <div class="field">
        <%= f.label :train_school_id, "驾校" %>
        <%= f.select :train_school_id, options_for_select(TrainSchool.train_schools_for_select, @coach.train_school.present? ? @coach.train_school.id : 0), {}, class: "ui fluid search dropdown train-school" %>
      </div>
      <div class="div-btn">
        <%= f.submit "提交", class: "ui primary button" %>
      </div>
    </div>
  </div>

<% end %>
<script type="text/javascript">
  (function() {
    $('.ui.dropdown.train-fields').dropdown('set selected', ['<%= @coach.train_fields.pluck(:id).join("','").html_safe %>']);
    $('.ui.dropdown.train-school').dropdown();
  })();
</script>
