<% content_for :title, "教练详表 - 教练管理 - 极速学车ERP系统" %>
<div class="ui segment coach">
  <table class="ui teal striped sortable celled table">
    <thead>
      <tr>
        <th class="one wide">序号</th>
        <th class="one wide">姓名</th>
        <th class="one wide center aligned">性别</th>
        <th class="two wide center aligned">手机</th>
        <th class="two wide center aligned">驾校</th>
        <th class="two wide center aligned">微信</th>
        <th class="three wide center aligned">训练场</th>
        <th class="one wide center aligned">学员</th>
        <th class="three wide">操作</th>
      </tr>
    </thead>
    <tbody>
      <% @coaches.each_with_index do |coach, index| %>
      <tr>
        <td class="middle center aligned"><%= (index + 1).to_s.rjust(3, '0') %></td>
        <td class="middle aligned text"><%= coach.name %></td>
        <td class="middle center aligned"><%= coach.gender_text %></td>
        <td class="middle aligned phone"><%= PhoneExt.format_phone(coach.phone) if coach.phone.present? %></td>
        <td class="middle aligned text"><%= coach.train_school.name if coach.train_school.present? %></td>
        <td class="middle text"><%= coach.wechat.present? ? coach.wechat : '-' %></td>
        <td class="middle aligned date-time"><%= coach.train_fields.pluck(:name).join(',') %></td>
        <td class="middle aligned number"><%= coach.students.count %></td>
        <td class="middle aligned">
          <%= link_to '详情', coach_path(coach), { class: 'small-button' } %>
          <%= link_to '编辑', edit_coach_path(coach), { class: 'small-button' } %>
          <%= link_to '服务表', coach_train_services_path(coach), { class: 'small-button' } %>
          <%= link_to '新服务', new_coach_train_service_path(coach), { class: 'small-button' } %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<script type="text/javascript">
  $('table').tablesort();
</script>
