<% content_for :title, "#{@coach.name} - 教练管理 - 极速学车ERP系统" %>
<div class="coach">
  <%= link_to edit_coach_path(@coach) do %>
    <div class="ui teal labeled icon button">
      编辑教练
      <i class="edit icon"></i>
    </div>
  <% end %>
  <%= link_to new_coach_train_service_path(@coach) do %>
    <div class="ui teal labeled icon button">
      录入服务
      <i class="add icon"></i>
    </div>
  <% end %>
  <%= link_to coach_train_services_path(@coach) do %>
    <div class="ui teal labeled icon button">
      服务列表
      <i class="add icon"></i>
    </div>
  <% end %>
  <h4 class="ui horizontal divider header">
    <i class="tag icon"></i>
    基本资料
  </h4>
  <table class="ui striped definition table">
    <tbody>
      <tr>
        <td class="two wide column">姓名</td>
        <td><%= @coach.name %></td>
      </tr>
      <tr>
        <td class="two wide column">性别</td>
        <td><%= @coach.gender_text %></td>
      </tr>
      <tr>
        <td class="two wide column">手机</td>
        <td><%= @coach.phone.present? ? PhoneExt.format_phone(@coach.phone) : '-' %></td>
      </tr>
      <tr>
        <td class="two wide column">身份证号</td>
        <td><%= @coach.id_card.present? ? @coach.id_card : '-' %></td>
      </tr>
      <% unless @coach.train_school.nil? %>
      <tr>
        <td class="two wide column">所属驾校</td>
        <td><%= @coach.train_school.name %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <h4 class="ui horizontal divider header">
    <i class="bar chart icon"></i>
    合作详情
  </h4>
  <table class="ui striped definition table">
    <tbody>
      <tr>
        <td class="two wide column">签约日期</td>
        <td><%= @coach.signed_at.present? ? @coach.signed_at.to_date.to_s(:db) : '-' %></td>
      </tr>
      <tr>
        <td class="two wide column">合约起始</td>
        <td><%= @coach.contract_begin_at.present? ? @coach.contract_begin_at.to_s(:db) : '-' %></td>
      </tr>
      <tr>
        <td class="two wide column">合约终止</td>
        <td><%= @coach.contract_end_at.present? ? @coach.contract_end_at.to_s(:db) : '-' %></td>
      </tr>
      <tr>
        <td class="two wide column">招生数量</td>
        <td><%= @coach.students.count %></td>
      </tr>
      <tr>
        <td class="two wide column">训练场</td>
        <td>
          <div class="ui relaxed divided list">
            <% @coach.train_fields.each do |tf| %>
            <div class="item">
              <i class="large map middle aligned icon"></i>
              <div class="content">
                <a class="header"><%= tf.name %></a>
                <div class="description">经度：<%= tf.longitude %>，纬度：<%= tf.latitude %></div>
              </div>
            </div>
            <% end %>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
