<div style="" id="data_park"></div>
<style type="text/css">
  .ui.form .inline.fields .field > .selection.dropdown {
    width: 100%;
  }

  .ui.form .inline.fields .field.old-data {
    border: solid 1px #ccc;
    color: #ccc;
    padding: 4px;
  }
</style>
<div class="ui segment form">
  <div class="inline fields">
    <div class="sixteen wide column field">
      <label style='white-space: nowrap;'>费用说明</label>
      <input placeholder="Read Only" readonly="" type="text" value="<%= @payment.fee.remark %>" />
    </div>
  </div>
  <div class="inline fields">
    <div class="sixteen wide column field">
      <%= label_tag :name, '款项名称', style: 'white-space: nowrap;' %>
      <%= text_field_tag :name, @payment.name, placeholder: '款项详情，比如：“张三补交学费3000元”' %>
    </div>
  </div>
  <div class="inline fields">
    <div class="eight wide field">
      <%= label_tag :pay_unit_id, '付款方', style: 'white-space: nowrap;' %>
      <%= select_tag(:pay_unit_id, options_for_select(PayUnit.units_for_select, @payment.pay_unit_id).html_safe, class: 'ui fluid search dropdown pay-unit-id') %>
    </div>
    <div class="eight wide field">
      <%= label_tag :pay_account_id, '账户', style: 'white-space: nowrap;' %>
      <%= select_tag(:pay_account_id, @payment.pay_account_id, class: 'ui fluid search dropdown pay-account-id') %>
    </div>
  </div>
  <div class="inline fields">
    <div class="sixteen wide field old-data">
      <b>原数据：</b><%= @payment.pay_account_desc %>
    </div>
  </div>
  <div class="inline fields">
    <div class="eight wide field">
      <%= label_tag :get_unit_id, '收款方', style: 'white-space: nowrap;' %>
      <%= select_tag(:get_unit_id, options_for_select(PayUnit.units_for_select, @payment.get_unit_id), class: 'ui fluid search dropdown get-unit-id') %>
    </div>
    <div class="eight wide field">
      <%= label_tag :get_account_id, '账户', style: 'white-space: nowrap;' %>
      <%= select_tag(:get_account_id, @payment.get_account_id, class: 'ui fluid search dropdown get-account-id') %>
    </div>
  </div>
  <div class="inline fields">
    <div class="sixteen wide field old-data">
      <b>原数据：</b><%= @payment.get_account_desc %>
    </div>
  </div>
  <div class="inline fields">
    <div class="sixteen wide column field">
      <%= label_tag :done_at, '日期', style: 'white-space: nowrap;' %>
      <%= text_field_tag :done_at, @payment.done_at, placeholder: '实际发生收支日期', class: 'datepicker' %>
    </div>
  </div>
  <div class="inline fields">
    <div class="sixteen wide column field">
      <%= label_tag :amount, '金额', style: 'white-space: nowrap;' %>
      <%= number_field_tag('payment_amount', @payment.amount) %>
    </div>
  </div>
  <%= hidden_field_tag(:total_paid, @fee.total_paid - @payment.amount) %>
</div>
<script type="text/javascript">
  $('.datepicker').pickadate({
    container: '#data_park',
    selectMonths: true,
    selectYears: true
  });

  var maxPay = <%= @fee.amount %>;
  function updateFeePayment(contaxt) {
    var amount = parseFloat($('#payment_amount').val());
    var total_paid = parseFloat($('#total_paid').val());
    var name = $('#name').val(),
        pay_mode = $('#pay_mode').val(),
        pay_account_desc = $('#pay_account_desc').val(),
        get_mode = $('#get_mode').val(),
        done_at = $('#done_at').val(),
        get_account_desc = $('#get_account_desc').val(),
        pay_unit_id = $('#pay_unit_id').val(),
        get_unit_id = $('#get_unit_id').val(),
        pay_account_id = $('#pay_account_id').val(),
        get_account_id = $('#get_account_id').val(),
        payment_id = "<%= @payment.id %>";
    if ( amount > maxPay - total_paid ) {
      alert('过账金额超过费用额（' + (maxPay - total_paid) + '元），请重新调整');
      window.flash.hide();
      return;
    }
    var $payment_row = $('tr[data-payment-id = "' + payment_id + '"]');
    var old_row_html = $payment_row.html();
    //todo: give row about to update a shadow
    $payment_row.html('<td colspan="8">加载中...</td>');
    $.post('/students/<%= @student_id %>/fees/<%= @fee.id %>/payments/<%= @payment.id %>/update_post', {
      'name': name,
      'pay_mode': pay_mode,
      'pay_account_desc': pay_account_desc,
      'get_mode': get_mode,
      'get_account_desc': get_account_desc,
      'amount': parseFloat(amount),
      'fee_id': <%= @fee.id %>,
      'student_id': <%= @student_id %>,
      'done_at': done_at,
      'pay_unit_id': pay_unit_id,
      'get_unit_id': get_unit_id,
      'pay_account_id': pay_account_id,
      'get_account_id': get_account_id,
      'id': payment_id
    }).success(function(data) {
      $(contaxt).find('.actions').removeAttr('status');
      window.flash.hide();
      if (data && data.error_code && data.error_code == '0') {
        $('.ui.modal.fee-payment-edit').modal('hide');
        $('#fee_payment_edit').html('');
        //整个更新
        setTimeout(_refreshLine, 100, payment_id);
      } else {
        alert('保存出错，请联系管理员！');
      }
      window.flash.hide();
    }).error(function(data) {
      $(contaxt).find('.actions').removeAttr('status');
      $payment_row.html(old_row_html);
      window.flash.hide();
      alert('保存出错，请联系管理员！');
    });
  }

  function _refreshReport() {
    _getByPayUnit($('.pay-unit.active').first());
  }

  function _refreshLine(payment_id) {
    var that = $('tr[data-payment-id = "' + payment_id + '"]')
    window.flash.show('加载中...');
    // ajax
    $.get('/payments/' + payment_id + '/report_line', {
    }).success(function(data) {
      that.html(data);
      window.flash.hide();
    }).error(function(data) {
      window.flash.hide();
    });
  }
</script>
