<% case @current_page %>
<% when :intentions_path %>
<div class="ui breadcrumb" style="margin-top: 10px;margin-left: 10px;">
  <%= link_to "首页", root_path, class: 'section' %>
  <i class="right angle icon divider"></i>
  <div class="active section">意向墙</div>
</div>
<% when :intention_path %>
<div class="ui breadcrumb" style="margin-top: 10px;margin-left: 10px;">
  <%= link_to "首页", root_path, class: 'section' %>
  <i class="right angle icon divider"></i>
  <%= link_to "意向墙", intentions_path, class: 'section' %>
  <i class="right angle icon divider"></i>
  <div class="active section"><%= @intention.student.name %> 意向信息</div>
</div>
<% when :student_path %>
<div class="ui breadcrumb" style="margin-top: 10px;margin-left: 10px;">
  <%= link_to "首页", root_path, class: 'section' %>
  <i class="right angle icon divider"></i>
  <%= link_to "意向墙", intentions_path, class: 'section' %>
  <i class="right angle icon divider"></i>
  <div class="active section"><%= @student.name %></div>
</div>
<% when :edit_student_path %>
<div class="ui breadcrumb" style="margin-top: 10px;margin-left: 10px;">
  <%= link_to "首页", root_path, class: 'section' %>
  <i class="right angle icon divider"></i>
  <%= link_to "意向墙", intentions_path, class: 'section' %>
  <i class="right angle icon divider"></i>
  <%= link_to "#{@student.name}", student_path(@student), class: 'section' %>
  <i class="right angle icon divider"></i>
  <div class="active section">编辑 <%= @student.name %> 基本信息</div>
</div>
<% when :edit_intention_path %>
<div class="ui breadcrumb" style="margin-top: 10px;margin-left: 10px;">
  <%= link_to "首页", root_path, class: 'section' %>
  <i class="right angle icon divider"></i>
  <%= link_to "意向墙", intentions_path, class: 'section' %>
  <i class="right angle icon divider"></i>
  <%= link_to "#{@intention.student.name} 意向", intention_path(@intention), class: 'section' %>
  <i class="right angle icon divider"></i>
  <div class="active section">编辑 <%= @intention.student.name %> 意向信息</div>
</div>
<% when :new_contact_log_path %>
<div class="ui breadcrumb" style="margin-top: 10px;margin-left: 10px;">
  <%= link_to "首页", root_path, class: 'section' %>
  <i class="right angle icon divider"></i>
  <%= link_to "意向墙", intentions_path, class: 'section' %>
  <i class="right angle icon divider"></i>
  <div class="active section">创建新联系记录</div>
</div>
<% when :student_path %>
<div class="ui breadcrumb" style="margin-top: 10px;margin-left: 10px;">
  <%= link_to "首页", root_path, class: 'section' %>
  <i class="right angle icon divider"></i>
  <%= link_to "意向墙", intentions_path, class: 'section' %>
  <i class="right angle icon divider"></i>
  <div class="active section">创建新联系记录</div>
</div>
<% end %>

<!-- <div class="ui breadcrumb" style="margin-top: 10px;margin-left: 10px;">
  <a class="section" href="/">首页</a>
  <i class="right angle icon divider"></i>
  <a class="section">意向墙</a>
  <i class="right angle icon divider"></i>
  <div class="active section">T-意向墙</div>
</div> -->