<% case @current_page %>
<% when :intentions_path %>
<div class="ui breadcrumb breadcrumb-pad">
  <%= link_to "首页", root_path, class: 'section' %>
  <i class="right angle icon divider"></i>
  <div class="active section">意向墙</div>
</div>
<% when :intention_path %>
<div class="ui breadcrumb breadcrumb-pad">
  <%= link_to "首页", root_path, class: 'section' %>
  <i class="right angle icon divider"></i>
  <%= link_to "意向墙", intentions_path, class: 'section' %>
  <i class="right angle icon divider"></i>
  <div class="active section"><%= @intention.student.name %> 意向信息</div>
  <i class="right angle icon divider"></i>
  <%= link_to "#{@intention.student.name} 详情", student_path(@intention.student), class: 'section' %>
</div>
<% when :student_path %>
<div class="ui breadcrumb breadcrumb-pad">
  <%= link_to "首页", root_path, class: 'section' %>
  <i class="right angle icon divider"></i>
  <%= link_to "意向墙", intentions_path, class: 'section' %>
  <i class="right angle icon divider"></i>
  <div class="active section"><%= @student.name %></div>
  <i class="right angle icon divider"></i>
  <%= link_to "#{@student.name} 意向", intention_path(@student.intention), class: 'section' %>
</div>
<% when :edit_student_path %>
<div class="ui breadcrumb breadcrumb-pad">
  <%= link_to "首页", root_path, class: 'section' %>
  <i class="right angle icon divider"></i>
  <%= link_to "意向墙", intentions_path, class: 'section' %>
  <i class="right angle icon divider"></i>
  <%= link_to "#{@student.name}", student_path(@student), class: 'section' %>
  <i class="right angle icon divider"></i>
  <div class="active section">编辑 <%= @student.name %> 基本信息</div>
</div>
<% when :edit_intention_path %>
<div class="ui breadcrumb breadcrumb-pad">
  <%= link_to "首页", root_path, class: 'section' %>
  <i class="right angle icon divider"></i>
  <%= link_to "意向墙", intentions_path, class: 'section' %>
  <i class="right angle icon divider"></i>
  <%= link_to "#{@intention.student.name} 意向", intention_path(@intention), class: 'section' %>
  <i class="right angle icon divider"></i>
  <div class="active section">编辑 <%= @intention.student.name %> 意向信息</div>
</div>
<% when :new_contact_log_path %>
<div class="ui breadcrumb breadcrumb-pad">
  <%= link_to "首页", root_path, class: 'section' %>
  <i class="right angle icon divider"></i>
  <%= link_to "意向墙", intentions_path, class: 'section' %>
  <i class="right angle icon divider"></i>
  <div class="active section">创建与【<%= @student.name %>】的新联系记录</div>
</div>
<% when :student_path %>
<div class="ui breadcrumb breadcrumb-pad">
  <%= link_to "首页", root_path, class: 'section' %>
  <i class="right angle icon divider"></i>
  <%= link_to "意向墙", intentions_path, class: 'section' %>
  <i class="right angle icon divider"></i>
  <div class="active section">创建新联系记录</div>
</div>
<% when :new_student_residence_card_path %>
<div class="ui breadcrumb breadcrumb-pad">
  <%= link_to "首页", root_path, class: 'section' %>
  <i class="right angle icon divider"></i>
  <%= link_to "意向墙", intentions_path, class: 'section' %>
  <i class="right angle icon divider"></i>
  <%= link_to "#{@student.name}", student_path(@student), class: 'section' %>
  <i class="right angle icon divider"></i>
  <div class="active section">创建居住证信息</div>
</div>
<% when :edit_student_residence_card_path %>
<div class="ui breadcrumb breadcrumb-pad">
  <%= link_to "首页", root_path, class: 'section' %>
  <i class="right angle icon divider"></i>
  <%= link_to "意向墙", intentions_path, class: 'section' %>
  <i class="right angle icon divider"></i>
  <%= link_to "#{@residence_card.student.name}", student_path(@residence_card.student, @residence_card), class: 'section' %>
  <i class="right angle icon divider"></i>
  <div class="active section">编辑居住证信息</div>
</div>
<% when :student_sources_path %>
<div class="ui breadcrumb breadcrumb-pad">
  <%= link_to "首页", root_path, class: 'section' %>
  <i class="right angle icon divider"></i>
  <div class="active section">渠道管理</div>
</div>
<% when :student_sources_path_new %>
<div class="ui breadcrumb breadcrumb-pad">
  <%= link_to "首页", root_path, class: 'section' %>
  <i class="right angle icon divider"></i>
  <%= link_to "渠道管理", student_sources_path, class: 'section' %>
  <i class="right angle icon divider"></i>
  <div class="active section">添加渠道</div>
</div>
<% when :student_source_path %>
<div class="ui breadcrumb breadcrumb-pad">
  <%= link_to "首页", root_path, class: 'section' %>
  <i class="right angle icon divider"></i>
  <%= link_to "渠道管理", student_sources_path, class: 'section' %>
  <i class="right angle icon divider"></i>
  <%= link_to "渠道详表", list_student_sources_path, class: 'section' %>
  <i class="right angle icon divider"></i>
  <div class="active section"><%= @student_source.name %><%= link_to "[编辑]", edit_student_source_path(@student_source), class: 'section' %></div>
</div>
<% when :edit_student_source_path %>
<div class="ui breadcrumb breadcrumb-pad">
  <%= link_to "首页", root_path, class: 'section' %>
  <i class="right angle icon divider"></i>
  <%= link_to "渠道管理", student_sources_path, class: 'section' %>
  <i class="right angle icon divider"></i>
  <%= link_to "渠道详表", list_student_sources_path, class: 'section' %>
  <i class="right angle icon divider"></i>
  <%= link_to "#{@student_source.name}", student_source_path(@student_source), class: 'section' %>
  <i class="right angle icon divider"></i>
  <div class="active section">编辑</div>
</div>
<% when :list_student_sources_path %>
<div class="ui breadcrumb breadcrumb-pad">
  <%= link_to "首页", root_path, class: 'section' %>
  <i class="right angle icon divider"></i>
  <%= link_to "渠道管理", student_sources_path, class: 'section' %>
  <i class="right angle icon divider"></i>
  <div class="active section">渠道详表</div>
</div>
<% when :coaches_path %>
<div class="ui breadcrumb breadcrumb-pad">
  <%= link_to "首页", root_path, class: 'section' %>
  <i class="right angle icon divider"></i>
  <div class="active section">教练详表</div>
</div>
<% when :coach_path %>
<div class="ui breadcrumb breadcrumb-pad">
  <%= link_to "首页", root_path, class: 'section' %>
  <i class="right angle icon divider"></i>
  <%= link_to "教练详表", coaches_path, class: 'section' %>
  <i class="right angle icon divider"></i>
  <div class="active section"><%= "#{@coach.name}" %></div>
</div>
<% when :new_coach_path %>
<div class="ui breadcrumb breadcrumb-pad">
  <%= link_to "首页", root_path, class: 'section' %>
  <i class="right angle icon divider"></i>
  <%= link_to "教练详表", coaches_path, class: 'section' %>
  <i class="right angle icon divider"></i>
  <div class="active section">创建教练</div>
</div>
<% when :edit_coach_path %>
<div class="ui breadcrumb breadcrumb-pad">
  <%= link_to "首页", root_path, class: 'section' %>
  <i class="right angle icon divider"></i>
  <%= link_to "教练详表", coaches_path, class: 'section' %>
  <i class="right angle icon divider"></i>
  <%= link_to "#{@coach.name}", coach_path(@coach), class: 'section' %>
  <i class="right angle icon divider"></i>
  <div class="active section">编辑教练</div>
</div>
<% when :coach_train_services_path %>
<div class="ui breadcrumb breadcrumb-pad">
  <%= link_to "首页", root_path, class: 'section' %>
  <i class="right angle icon divider"></i>
  <%= link_to "教练详表", coaches_path, class: 'section' %>
  <i class="right angle icon divider"></i>
  <%= link_to "#{@coach.name}", coach_path(@coach), class: 'section' %>
  <i class="right angle icon divider"></i>
  <div class="active section">服务表</div>
</div>
<% when :coach_train_service_path %>
<div class="ui breadcrumb breadcrumb-pad">
  <%= link_to "首页", root_path, class: 'section' %>
  <i class="right angle icon divider"></i>
  <%= link_to "教练详表", coaches_path, class: 'section' %>
  <i class="right angle icon divider"></i>
  <%= link_to "#{@train_service.coach.name}", coach_path(@train_service.coach), class: 'section' %>
  <i class="right angle icon divider"></i>
  <%= link_to "服务表", coach_train_services_path(@train_service.coach), class: 'section' %>
  <i class="right angle icon divider"></i>
  <div class="active section"><%= @train_service.name %></div>
</div>
<% when :new_coach_train_service_path %>
<div class="ui breadcrumb breadcrumb-pad">
  <%= link_to "首页", root_path, class: 'section' %>
  <i class="right angle icon divider"></i>
  <%= link_to "教练详表", coaches_path, class: 'section' %>
  <i class="right angle icon divider"></i>
  <%= link_to "#{@coach.name}", coach_path(@coach), class: 'section' %>
  <i class="right angle icon divider"></i>
  <div class="active section">录入服务</div>
</div>
<% when :fees_path %>
<div class="ui breadcrumb breadcrumb-pad">
  <%= link_to "首页", root_path, class: 'section' %>
  <i class="right angle icon divider"></i>
  <div class="active section">费用详表</div>
</div>
<% else %>
<div class="ui breadcrumb breadcrumb-pad">
  <%= link_to "首页", root_path, class: 'section' %>
</div>
<% end %>

<!-- <div class="ui breadcrumb" style="margin-top: 10px;margin-left: 10px;">
  <a class="section" href="/">首页</a>
  <i class="right angle icon divider"></i>
  <a class="section">意向墙</a>
  <i class="right angle icon divider"></i>
  <div class="active section">T-意向墙</div>
</div> -->