<!-- http://semantic-ui.com/elements/container.html#/examples -->
<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if request.path != new_user_session_path %>
    <div class="ui attached stackable menu" style="height: 50px;">
      <%= render partial: 'layouts/application_menu_notifies' %>
      <div class="ui simple dropdown item">
        <%= link_to(students_path, class: 'black') do %>
          <i class="users icon"></i>学员管理
        <% end %>
        <i class="dropdown icon"></i>
        <div class="menu">
          <%= link_to(students_path, class: 'item') do %>
            <i class="browser icon"></i>学员列表
          <% end %>
          <%= link_to(signed_up_students_path, class: 'item') do %>
            <i class="browser icon"></i>已报名学员
          <% end %>
          <%= link_to(wait_pay_students_path, class: 'item') do %>
            <i class="browser icon"></i>已试学学员
          <% end %>
        </div>
      </div>
      <div class="ui simple dropdown item">
        <%= link_to(coaches_path, class: 'black') do %>
          <i class="users icon"></i>教练管理
        <% end %>
        <i class="dropdown icon"></i>
        <div class="menu">
          <%= link_to(new_coach_path, class: 'item') do %>
            <i class="add icon"></i>录入教练
          <% end %>
          <%= link_to(coaches_path, class: 'item') do %>
            <i class="browser icon"></i>教练列表
          <% end %>
        </div>
      </div>
      <div class="ui simple dropdown item">
        <%= link_to(student_sources_path, class: 'black') do %>
          <i class="sign in icon"></i>渠道管理
        <% end %>
        <i class="dropdown icon"></i>
        <div class="menu">
          <%= link_to(new_student_source_path, class: 'item') do %>
            <i class="add icon"></i>添加渠道
          <% end %>
          <%= link_to(list_student_sources_path, class: 'item') do %>
            <i class="browser icon"></i>渠道详表
          <% end %>
          <%= link_to(new_source_contact_student_sources_path, class: 'item') do %>
            <i class="add icon"></i>联系渠道
          <% end %>
        </div>
      </div>
      <div class="ui simple dropdown item">
        更多操作
        <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item"><i class="edit icon"></i> 个人资料</a>
          <a class="item"><i class="settings icon"></i> 系统设置</a>
          <% if user_signed_in? %>
            <%= link_to(destroy_user_session_path, :method => :delete, class: 'item') do %>
            <i class="sign out icon"></i> <span style="color: red;margin-right: 5px;"><%= current_user.name %></span>退出登录
            <% end %>
          <% else %>
            <%= link_to(new_user_session_path, class: 'item') do %>
            <i class="sign in icon"></i> 登录
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="item">
        <div class="ui search">
          <div class="ui left icon input">
            <input class="prompt" type="text" placeholder="Search ERP">
            <i class="search icon"></i>
          </div>
        </div>
      </div>
      <div class="ui simple dropdown item">
        常用工具
        <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item" href="http://idcard.911cha.com/" target="_blank"><i class="user icon"></i>身份证信息</a>
          <a class="item" href="/welcome/map" target="_blank"><i class="user icon"></i>训练场地图</a>
          <a class="item" href="http://www.whga.gov.cn/pawh/query/jzzQuery.jsp" target="_blank"><i class="home icon"></i>居住证号查询</a>
          <a class="item" href="http://www.whjg.gov.cn:8084/fee/clx/aaa/search" target="_blank"><i class="browser icon"></i>流水号查询</a>
          <a class="item" href="http://www.whjg.gov.cn:8083/jgksyy/ksyy.do?method=frd_ksyy" target="_blank"><i class="calendar icon"></i>考试预约</a>
          <a class="item" href="http://www.whjg.gov.cn:8084/fee/driverOrder.jsp"><i class="browser icon"></i>考试缴费</a>
        </div>
      </div>
      <div class="item">
        <% if current_user.daily_signs.where("daily_signs.created_at >= ?", Time.zone.now.beginning_of_day).count == 0 %>
        <div class="ui blue labeled icon button daily-sign">
          签到
          <i class="add icon"></i>
        </div>
        <% else %>
        <div class="ui disabled button">
          已签到<%= Time.zone.now.beginning_of_day %>
        </div>
        <% end %>
      </div>
    </div>
  <% end %>
  <div class="ui container">
  <%= render partial: 'layouts/breadcrumb' %>
  <%= yield %>
  </div>
<script type="text/javascript">
  $('.ui.search')
    .search({
      type: 'category',
      minCharacters: 1,
      apiSettings: {
        onResponse: function(githubResponse) {
          var
            response = {
              results: {}
            };
          // translate GitHub API response to work with search
          $.each(githubResponse.items, function(index, item) {
            var
              business = item.business || '其它',
              maxResults = 20;
            if (index >= maxResults) {
              return false;
            }
            // create new business category
            if (response.results[business] === undefined) {
              response.results[business] = {
                name: business,
                results: []
              };
            }
            // add result to category
            response.results[business].results.push({
              title: item.name,
              description: item.description,
              url: item.html_url
            });
          });
          return response;
        },
        url: '/service/search?q={query}'
      }
    });
  (function() {
    $('.daily-sign').on('click', function() {
      var button = this;
      $.post('/service/daily_sign', {}).success(function(data) {
        $(button).attr('class', 'ui disabled button');
        $(button).html('已签到');
      }).error(function(data) {
      });
    });
  })();
</script>
</body>
</html>
